<!DOCTYPE html>
<html>
<body>
  <h1>Abuela Sorda</h1>
  <form action="/saludo" method="post">
    <input type="text" name="nombre" >
    <input type="submit" value="!Dilo!" >
  </form>
</body>
</html>
